<a href="https://colab.research.google.com/github/Millicent-Willy/Python-Coding/blob/main/Python_Notebookipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#importing python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#importing the data in csv format
df=pd.read_csv('Covid Vaccinations-data.csv')
df

,iso_code,continent,location,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187099,ZWE,Africa,Zimbabwe,5/12/2022,NaN,NaN,NaN,NaN,2550.0,0.169,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
187100,ZWE,Africa,Zimbabwe,5/13/2022,NaN,NaN,NaN,NaN,2449.0,0.162,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
187101,ZWE,Africa,Zimbabwe,5/14/2022,NaN,NaN,NaN,NaN,2347.0,0.156,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
187102,ZWE,Africa,Zimbabwe,5/15/2022,2287793.0,NaN,151.588,NaN,2246.0,0.149,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
187103,ZWE,Africa,Zimbabwe,5/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [9]:
#reading the first 10 rows of data
df.head(10)

,iso_code,continent,location,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,3/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,3/2/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,3/3/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,3/4/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [10]:
#checking the data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187104 entries, 0 to 187103
Data columns (total 45 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    187104 non-null  object
 1   continent                                   176212 non-null  object
 2   location                                    187104 non-null  object
 3   date                                        187104 non-null  object
 4   total_tests                                 76428 non-null   float64
 5   new_tests                                   73456 non-null   float64
 6   total_tests_per_thousand                    76428 non-null   float64
 7   new_tests_per_thousand                      73456 non-null   float64
 8   new_tests_smoothed                          98583 non-null   float64
 9   new_tests_smoothed_per_thousand             98583 non-null   float64
 10  positive_rate                               90878 non-null   float64
 11  tests_per_case                              89458 non-null   float64
 12  tests_units                                 101381 non-null  object
 13  total_vaccinations                          50772 non-null   float64
 14  people_vaccinated                           48354 non-null   float64
 15  people_fully_vaccinated                     45799 non-null   float64
 16  total_boosters                              22987 non-null   float64
 17  new_vaccinations                            41508 non-null   float64
 18  new_vaccinations_smoothed                   100051 non-null  float64
 19  total_vaccinations_per_hundred              50772 non-null   float64
 20  people_vaccinated_per_hundred               48354 non-null   float64
 21  people_fully_vaccinated_per_hundred         45799 non-null   float64
 22  total_boosters_per_hundred                  22987 non-null   float64
 23  new_vaccinations_smoothed_per_million       100051 non-null  float64
 24  new_people_vaccinated_smoothed              99055 non-null   float64
 25  new_people_vaccinated_smoothed_per_hundred  99055 non-null   float64
 26  stringency_index                            146061 non-null  float64
 27  population_density                          166734 non-null  float64
 28  median_age                                  154570 non-null  float64
 29  aged_65_older                               152931 non-null  float64
 30  aged_70_older                               153759 non-null  float64
 31  gdp_per_capita                              153700 non-null  float64
 32  extreme_poverty                             100380 non-null  float64
 33  cardiovasc_death_rate                       154228 non-null  float64
 34  diabetes_prevalence                         161757 non-null  float64
 35  female_smokers                              116647 non-null  float64
 36  male_smokers                                115048 non-null  float64
 37  handwashing_facilities                      75767 non-null   float64
 38  hospital_beds_per_thousand                  136843 non-null  float64
 39  life_expectancy                             174976 non-null  float64
 40  human_development_index                     150226 non-null  float64
 41  excess_mortality_cumulative_absolute        6417 non-null    float64
 42  excess_mortality_cumulative                 6417 non-null    float64
 43  excess_mortality                            6417 non-null    float64
 44  excess_mortality_cumulative_per_million     6417 non-null    float64
dtypes: float64(40), object(5)
memory usage: 64.2+ MB

In [12]:
#Single Variable statistics
#mean-the average of the dataset;best used when the distribution is even and variance is low
#Median-the middle of the dataset;best used as a measure of location to mitigate the effects of outliers in the data
#mode-the most common number of the dataset;used to figure out which no. is prevailant or where the data is most concentrated in, sometimes mode wont exist in data.

In [14]:
df['life_expectancy'].mean()

73.64989032781638

In [17]:
df['location'].mode()

0    Argentina
1       Mexico
dtype: object

In [22]:
df[['continent','location']].mode()

  continent   location
0    Africa  Argentina
1       NaN     Mexico

In [23]:
#Variance-statistical measurement of how spread out the numbers are in the dataset
#Standard variation-statistical measurement of how spread out the numbers are in the dataset but relative to the mean and is calculated as squareroot of variance.

#when we know how spraed out the dataset is, we can idenrify insights such as how reliable our prediction will be due to volitility or identify outliers that afect our data.

#pandas automatically detects values that are numbers to calculate variance and statndard deviation and excludes fields that contains letters.
#However, we must be mindful of columns that are numbers and do not make sense to have variance and sts deviation as they are categorical ege Student ID

In [26]:
#variance of the entire dataframe
df.var(numeric_only =True)

total_tests                                   6.499542e+15
new_tests                                     8.008075e+11
total_tests_per_thousand                      4.373292e+06
new_tests_per_thousand                        2.494684e+04
new_tests_smoothed                            1.751097e+12
new_tests_smoothed_per_thousand               1.309442e+04
positive_rate                                 1.391384e-02
tests_per_case                                1.179353e+09
total_vaccinations                            8.788401e+17
people_vaccinated                             2.107446e+17
people_fully_vaccinated                       1.550105e+17
total_boosters                                2.345166e+16
new_vaccinations                              1.649542e+13
new_vaccinations_smoothed                     6.905840e+12
total_vaccinations_per_hundred                4.967687e+03
people_vaccinated_per_hundred                 8.811547e+02
people_fully_vaccinated_per_hundred           8.228873e+02
total_boosters_per_hundred                    4.233919e+02
new_vaccinations_smoothed_per_million         1.459811e+07
new_people_vaccinated_smoothed                1.174978e+12
new_people_vaccinated_smoothed_per_hundred    5.380161e-02
stringency_index                              4.288251e+02
population_density                            4.468052e+06
median_age                                    8.227085e+01
aged_65_older                                 3.770884e+01
aged_70_older                                 1.739885e+01
gdp_per_capita                                4.235622e+08
extreme_poverty                               4.008610e+02
cardiovasc_death_rate                         1.438662e+04
diabetes_prevalence                           2.197617e+01
female_smokers                                1.119998e+02
male_smokers                                  1.830001e+02
handwashing_facilities                        1.015025e+03
hospital_beds_per_thousand                    6.349341e+00
life_expectancy                               5.551363e+01
human_development_index                       2.242213e-02
excess_mortality_cumulative_absolute          1.203097e+10
excess_mortality_cumulative                   2.578395e+02
excess_mortality                              8.488289e+02
excess_mortality_cumulative_per_million       2.387926e+06
dtype: float64

In [27]:
#standard deviation of the entire dataframe
df.std(numeric_only= True)

total_tests                                   8.061974e+07
new_tests                                     8.948785e+05
total_tests_per_thousand                      2.091242e+03
new_tests_per_thousand                        1.579457e+02
new_tests_smoothed                            1.323290e+06
new_tests_smoothed_per_thousand               1.144309e+02
positive_rate                                 1.179569e-01
tests_per_case                                3.434171e+04
total_vaccinations                            9.374647e+08
people_vaccinated                             4.590693e+08
people_fully_vaccinated                       3.937138e+08
total_boosters                                1.531393e+08
new_vaccinations                              4.061455e+06
new_vaccinations_smoothed                     2.627897e+06
total_vaccinations_per_hundred                7.048182e+01
people_vaccinated_per_hundred                 2.968425e+01
people_fully_vaccinated_per_hundred           2.868601e+01
total_boosters_per_hundred                    2.057649e+01
new_vaccinations_smoothed_per_million         3.820748e+03
new_people_vaccinated_smoothed                1.083964e+06
new_people_vaccinated_smoothed_per_hundred    2.319517e-01
stringency_index                              2.070809e+01
population_density                            2.113777e+03
median_age                                    9.070328e+00
aged_65_older                                 6.140752e+00
aged_70_older                                 4.171193e+00
gdp_per_capita                                2.058063e+04
extreme_poverty                               2.002151e+01
cardiovasc_death_rate                         1.199442e+02
diabetes_prevalence                           4.687874e+00
female_smokers                                1.058300e+01
male_smokers                                  1.352775e+01
handwashing_facilities                        3.185946e+01
hospital_beds_per_thousand                    2.519790e+00
life_expectancy                               7.450747e+00
human_development_index                       1.497402e-01
excess_mortality_cumulative_absolute          1.096858e+05
excess_mortality_cumulative                   1.605738e+01
excess_mortality                              2.913467e+01
excess_mortality_cumulative_per_million       1.545292e+03
dtype: float64

In [29]:
#variance of a single column
df['male_smokers'].var()

183.00007660956595

In [28]:
#standard deviation of a single column
df['male_smokers']. std()

13.527752090039423

In [30]:
#All statistics at once
df.describe()

,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,total_vaccinations,people_vaccinated,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,7.642800e+04,7.345600e+04,76428.000000,73456.000000,9.858300e+04,98583.000000,90878.000000,8.945800e+04,5.077200e+04,4.835400e+04,...,116647.000000,115048.000000,75767.000000,136843.000000,174976.000000,150226.000000,6.417000e+03,6417.000000,6417.000000,6417.000000
mean,1.979429e+07,7.879695e+04,865.770782,5.420384,1.550328e+05,4.126983,0.099618,2.516327e+03,2.158522e+08,1.059866e+08,...,10.646074,32.790178,50.938600,3.068992,73.649890,0.725284,3.937314e+04,9.683505,15.634208,1090.258014
std,8.061974e+07,8.948785e+05,2091.241856,157.945690,1.323290e+06,114.430873,0.117957,3.434171e+04,9.374647e+08,4.590693e+08,...,10.582996,13.527752,31.859461,2.519790,7.450747,0.149740,1.096858e+05,16.057381,29.134669,1545.291650
min,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,3.422205e+05,2.163000e+03,40.969250,0.270000,1.575000e+03,0.209000,0.017900,7.000000e+00,7.651265e+05,4.646292e+05,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,-2.150000e+01,-0.220000,-0.330000,-9.734468
50%,1.936320e+06,8.576500e+03,218.286000,0.947000,6.930000e+03,0.870000,0.056600,1.720000e+01,6.224533e+06,3.792515e+06,...,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000,3.898800e+03,6.460000,7.420000,548.924627
75%,9.470332e+06,3.604500e+04,838.014750,2.908000,3.271650e+04,2.615000,0.139700,5.260000e+01,3.922363e+07,2.200369e+07,...,19.300000,41.300000,83.241000,4.000000,79.070000,0.845000,2.674380e+04,14.640000,21.890000,1754.244765
max,9.214000e+09,6.241858e+07,32925.900000,11445.391000,6.241858e+07,11445.391000,1.000000,1.023632e+06,1.173180e+10,5.169691e+09,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.213593e+06,111.010000,375.000000,9725.192865

**Z SCORE**

Is a measurement taht describes the distance a value is from the mean of a normal data distribution.

Z score is measured in terms of a standard deviation.

It typically tells us how far a value is in standard deviations so that we can understand it in a scaled value.

Z Score=(X-population mean)/population std deviation

In [31]:
mean=df['male_smokers'].mean()
std=df['male_smokers'].std()

In [36]:
df['Z score']= (df['male_smokers']-mean)/std
df['Z score']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
187099   -0.15451
187100   -0.15451
187101   -0.15451
187102   -0.15451
187103   -0.15451
Name: Z score, Length: 187104, dtype: float64

OUTLIERS

Are data points that are abnormally far from what is considered normal.sometimes outliers cause hinderance to our data as they might be there due to errors and is up to us to decide if they are to be included.

CORRELATION

is the method to evaluate strength of a relation between two continous variables.this not only shows the direction of the two variables but also the magnitude of the relationship.

correlation values are btwn -1 and +1. -1 being the highest value indirectly proportional and +1 the highest value directly proportional.